#!/bin/bash
#
# Selenium
#
# chkconfig: 345 90 25
# description: Selenium service

# Source function library.
. /etc/init.d/functions

lockfile="/var/lock/subsys/selenium"
pidfile="{{ selenium_install_dir }}/selenium.pid"
logfile="{{ selenium_install_dir }}/selenium.log"
max=10

RETVAL=0

start() {
  echo -n $"Starting selenium: "
  touch $pidfile
  touch $logfile

  echo "Starting selenium server" >> $logfile
  nohup {{ selenium_install_dir }}/start.sh &

  COUNTER=0;
  while ! tail -n1 $logfile | grep "Selenium Server is up and running" > /dev/null; do
    COUNTER=$((COUNTER+1))
    if [ "$COUNTER" -gt "$max" ] ; then
        echo_failure
        return 1
    fi
    sleep 5
  done

  pgrep -f start.sh | sed -n 1p > $pidfile

  RETVAL=$?
  [ $RETVAL -eq 0 ] && echo_success || echo_failure
  echo
  [ $RETVAL -eq 0 ] && touch $lockfile

  return $RETVAL
}

stop() {
  echo -n $"Stopping selenium: "
  echo "Stopping selenium server" >> $logfile

  DAEMON_PID=$(cat $pidfile)
  DAEMON_CHILDREN=$(pstree -l -p $DAEMON_PID |grep "([[:digit:]]*)" -o |tr -d '()')
  killproc -p $DAEMON_PID start.sh && kill $DAEMON_CHILDREN

  RETVAL=$?
  [ $RETVAL -eq 0 ] && echo_success || echo_failure
  echo
  [ $RETVAL -eq 0 ] && rm -f $lockfile $pidfile

  return $RETVAL
}

restart() {
  stop
  sleep 5
  start
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status -p ${pidfile} ${prog}
    RETVAL=$?
    ;;
  restart)
    restart
    ;;
  *)
    echo $"Usage: $0 {start|stop|restart}"
    exit 1
esac
